.music-container {
    width: 300px;
    height: 300px;
    background: rgb(5, 161, 167);
}

#spotifyContainer {
    visibility: visible;

}
.bandsintown {
    visibility: visible;
}

.bit-html-export {
    width: 100%;
    background: #fff;
    font-family: Arial;
    color: black;
    font-size: 12px;
}

.bit-table {
    width: 100%;
}

.bit-table td {
    padding: 7px 10px;
    vertical-align: middle;
}

.bit-table a {
    color: #00b4b3;
    text-decoration: none;
}

/* alternate row background color */
.bit-table tr:nth-of-type(2n) {
    background: #eee;
}

/* separate line between rows */
/* .bit-table tr td { border-bottom: 1px solid #ccc } */

.bit-table .bit-cta {
    text-align: center;
    width: 25%;
}